#privacy-policy-consent {
  background: rgba(0,0,0,0.95);
  color: #fff;
  position: fixed;
  z-index: 10000000000;
  top: 0;
  width: 100%;
  transition: all 0.4s linear;
  opacity: 0;
}

#privacy-policy-consent .inner {
  font-family: 'roboto-condensed', sans-serif;
	position: relative;
  max-width: 1060px;
  margin: 0 auto;
  padding: 10px;
  font-size:16px;
}

@media screen and (max-width: 500px) {
	#privacy-policy-consent .inner {
	  font-size:14px;
	}
}

#privacy-policy-consent p {
	padding-right: 28px;
	line-height: 22px;
  margin:0;
}

#privacy-policy-consent a {
	cursor: pointer;
	font-weight: 600;
}

#privacy-policy-consent a:hover {
  opacity: 0.7;
  transition: all 0.2s linear;
}

#privacy-policy-consent a.open {
	color: #f1d600;
}

#privacy-policy-consent a.open:hover {
	text-decoration: underline;
}

#privacy-policy-consent a.close {
  font-size: 16px;
}

#privacy-policy-consent a.round-button {
	display: inline-block;
  position: absolute;
  top: 6px;
  right: 3px;
  padding: 8px;
  vertical-align: middle;
  line-height: 9px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
}
#privacy-policy-consent a.round-button:hover {
  background: #262626;
}
